*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.flex-container{
    background-color: wheat;
    align-items: center;
    height: 45vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.flex-box {
    background: #1A1A1A;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 30px;
    margin: 10px;
}
.flex-box-image{
    background-color: #ffe815;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 30px 30px 0 0;
}

.fest-1{
    background-image: url('../image/star.jpeg');

}
.fest-2{
    background-image: url('../image/RoskildeFestival.webp');
}
.fest-3{
    background-image: url('../image/ticketmaster.jpeg');
    background-size: 300px;
}
.fest-4{
    background-image: url('../image/sydforsolen.png');
}
.flex-box a{
    font-size: 16px;
    text-transform: capitalize;
    color: #FFC601;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.flex-box a:hover{
    color: #ffe815;
}
.overskrift {
    background-color: wheat;
    height: 8vh;
    display: flex;
    align-items: flex-end;
}
.overskrift h2{
    color: #1A1A1A;
    margin-left: 130px;
}


