.blockcreateAcc{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockcreateAcc1{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.button{
    color: #1A1A1A;
}
.navbar3 a{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFC601;
    color: #1A1A1A;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
    transition: background-color 0.3s ease;
}

.navbar3 a:hover{
    background-color: wheat;

}