.header {
    display: flex;
    background-color: #1A1A1A;
    color: #FFC601;
    padding: 20px;
    justify-content: space-evenly;
}

.blockLogo{
    text-align: left;

    width: 10%;
}

.blockList{
    text-align: center;

}

.blockLogin{
    
}
