.loginForside-background {
    background-image: url('../image/RoskildeFestival.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: white;
}

.block1 {
    display: flex;
    background-color: rgba(26, 26, 26, 0.8);
    border: 1px solid #1A1A1A;
    border-radius: 5px;
    width: 20%;
    height: 60%;
    flex-direction: column;
    margin: 10%;
}

.block2{
    display: flex;
    margin: 15%;
    h1{
        color: #FFC601;
    }
    flex-direction: column;
    justify-content: center;
}
.block3{
    display: flex;
    margin: 5%;
    justify-content: center;
}
.block4{
    display: flex;
    margin: 5%;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    background-color: #1A1A1A;
    color: #FFC601;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: wheat;
}