

.blockWish{
    display: flex;
    background-color: white;
    border: 1px solid #1A1A1A;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    flex-direction: column;
    margin: 10%;
}

.blockCointere{
    display: flex;
}