<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

  <h2> Indtast dine oplysninger her </h2>

<div class="wrapper">
  <form action="/createAccount" method="post">
      <div>
          <label>First name </label>
          <input id="name-field" name="name" type="text">
      </div>

      <div>
          <label> Last name </label>
          <input id="genre-field" name="lastName" type="text">
      </div>

      <div>
          <label> E-mail</label>
          <input id="album-field" name="email" type="text">
      </div>

      <div>
          <label> Date of birth (dd/mm/yyyy)</label>
          <input id="price-field" name="date" type="text">
      </div>

      <input type="submit" value="Opret bruger">
  </form>
</div>



</body>
</html>