<!DOCTYPE html>
<html lang="en">
<link rel = "stylesheet" href="../Static/css/header.css" th:href ="@{css/header.css}">
<link rel = "stylesheet" href="../Static/css/body.css" th:href ="@{css/body.css}">
<link rel = "stylesheet" href="../Static/css/frontpage.background.css" th:href ="@{css/frontpage.background.css}">

<head>
    <meta charset="UTF-8">
    <title>Hvad ønsker DU!</title>
</head>
<body>
 <div class="header">
     <div class="blockLogo">
     <p1>logo</p1>
     </div>
     <div class="blockList">
     <p1>Ønskeliste</p1>
     </div>
     <div class="blockLogin">
     <p1>login</p1>
     </div>
 </div>

<div class="frontpage-background">
<h1>Hello</h1>
</div>

</body>
</html>