<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hvad ønsker DU!</title>
    <link rel="stylesheet" href="../Static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../Static/css/body.css" th:href ="@{css/body.css}">
    <link rel="stylesheet" href="../Static/css/frontpage.background.css" th:href ="@{css/frontpage.background.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
 <header class="header">

     <a href="/FrontPage" class="image"></a>
     <a href="/FrontPage" class="forside"><p1>Koncert Karavanen</p1></a>

     <nav class="navbar">
         <a href="/FrontPage">Inspiration</a>
         <a href="/wishListSide">Ønskeliste</a>
         <a href="https://koncerterkbh.dk/">Koncerter</a>
     </nav>
 </header>

 <div class="overskrift">
     <h2>Inspiration</h2>
 </div>

 <div class="flex-container">
     <div class="flex-box">
         <div class="flex-box-image fest-1"></div>
         <h4>Vega</h4>
         <a href="https://vega.dk/">Klik her for mere!</a>
     </div>
     <div class="flex-box">
         <div class="flex-box-image fest-2"></div>
         <h4>Roskilde festival</h4>
         <a href="https://www.roskilde-festival.dk/da/">Klik her for mere!</a>
     </div>

     <div class="flex-box">
         <div class="flex-box-image fest-3"></div>
         <h4>Ticketmaster</h4>
         <a href="https://www.ticketmaster.dk/">Klik her for mere!</a>

     </div>

     <div class="flex-box">
         <div class="flex-box-image fest-4"></div>
         <h4>Syd for solen</h4>
         <a href="https://sydforsolen.dk/">Klik her for mere!</a>
     </div>

 </div>

<footer class ="footer">
    <div class ="container">
        <div class="row">
            <div class="footer-col">
                <h4>Koncert Karavanen</h4>
                <ul>
                    <li><a href="/">Om os</a> </li>
                    <li><a href="/">Services</a> </li>
                    <li><a href="/">privacy policy</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="/">Koncerter</a> </li>
                    <li><a href="/">Inspiration</a> </li>
                    <li><a href="/">Ønskeliste</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hjælp & kontakt</h4>
                <ul>
                    <li><a href="/">Kontakt os</a> </li>
                    <li><a href="/">Hyppige spørgsmål</a> </li>
                    <li><a href="/">Mere information</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Følg os!</h4>
                <div class ="social-links">
                    <a href="/"><i class ="fab fa-facebook-f"></i></a>
                    <a href="/"><i class ="fab fa-instagram"></i></a>
                    <a href="/"><i class ="fab fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>