<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hvad ønsker DU!</title>
    <link rel = "stylesheet" href="../Static/css/header.css" th:href ="@{css/header.css}">
    <link rel = "stylesheet" href="../Static/css/body.css" th:href ="@{css/body.css}">
    <link rel = "stylesheet" href="../Static/css/frontpage.background.css" th:href ="@{css/frontpage.background.css}">
</head>
<body>
 <header class="header">

     <a href="/" class="image"></a>

     <a href="/" class="Forside"><p1>KoncertKavaranen</p1></a>

     <nav class="navbar">
         <a href="/">Koncerter</a>
         <a href="/">Inspiration</a>
         <a href="/">Ønskeliste</a>
         <a href="/">Login</a>
     </nav>
 </header>

<div class="frontpage-background">
<h1>Hello</h1>
</div>
</body>
</html>