<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel = "stylesheet" href="../static/css/productpage.css" th:href="@{css/productpage.css}">
</head>
<body>


<div class="flex-Box_container">
    <div class="boxOne">
        <a href="/CreateProducts">
            <h1>Tilføj Nyt Product</h1>
        </a>

    </div>
    <div class="boxTwo">
        <table>
            <thead>
            <tr>
                <th>Product navn</th>
                <th>Product link</th>
                <th>Product beskrivelse</th>
                <th>Pris</th>
                <th>Antal</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productName}">Name</td>
                <td th:text="${product.productLink}">Link</td>
                <td th:text="${product.productDescription}">Description</td>
                <td th:text="${product.price}">Price</td>
                <td th:text="${product.quantity}">Quantity</td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>